@import '~@angular/material/theming';

@include mat-core();


$ponderosa-primary: mat-palette($mat-green, 900);
$ponderosa-accent:  mat-palette($mat-green, 50);


$ponderosa-warn:    mat-palette($mat-red);


$ponderosa-theme: mat-light-theme($ponderosa-primary, $ponderosa-accent, $ponderosa-warn);


@include angular-material-theme($ponderosa-theme);

.tabs-color {
  background-color: mat-color($ponderosa-accent);
}
